<div class="between-insert" data-aside-container="#aside-choices-collections-content{{ ((parent is defined and parent is not null) ? "-"~parent.id : "-"~field.fieldname) }}">
  <span class="picto austral-picto-plus"></span>
</div>